* {
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}

body , html {
    height: 100%;
}

.head {
    background-image: url('coming.jfif');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    color: white;
    font-family: "Raleway", sans-serif;
    background-position: center;
}

.head h1 {
    padding:20px;
    font-size: 25px;
}


.center {
    position: absolute;
    top:45%;
    font-size: 40px;
    transform: translate(-50%, -50%);
    left:50%;
}

.scroll  {
    animation-name: heading;
    animation-duration: 2s;
    position: relative;
}

.underline {
    margin: 0 auto;
    width: 50%;
    margin-top: 30px;
    background-color: white;
    opacity: 0.6;
    height: 1px;
}

.text {
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
}


.head-white {
     min-height:100%;
    width: 100%;
}

.white-background {
    background-color: white;
    position: fixed;
    width: 100%;
    animation-name: despeare;
    opacity: 0;
    animation-duration: 1s;
    min-height: 100%;
}
@keyframes despeare {
     from {
        opacity: 1;
     }

     to {
        opacity: 0;
     }
}

@keyframes heading {
    from {
       top:-300px;
       opacity: 0;
    }

    to {
        top: 0;
        opacity: 1;
    }
}
.foot {
    bottom: 20px;
    left: 20px;
    font-size: 20px;
    position: absolute;
}

.foot a {
    color: white;
}